$primary: #da4917;
$dark: #222;
$navbar-height: 7em;
$navbar-item-img-max-height: 5em;
$navbar-item-hover-background-color: $primary;
$navbar-dropdown-item-hover-background-color: $primary;
$navbar-dropdown-item-hover-color: white;
$link: $primary;
$pagination-focus-border-color: $primary;