// Fonts
@import url('https://fonts.googleapis.com/css?family=Changa+One|Source+Sans+Pro:400,700|Source+Serif+Pro:400,700');
// Variables
@import "variables";
// Bulma
@import "~bulma/bulma";

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  overflow: hidden;
  font-size: 1.3rem;

  &::-webkit-scrollbar-track {
    width: 8px;
    background-color: #222;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $primary;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: $primary;
  }
}

a {
  color: $primary;
  transition: all 0.1s ease-in-out;
}

h1, h2, h3 {
  font-family: 'Changa One', Arial, Helvetica, sans-serif;
  font-weight: 400 !important;
  color: $primary;
}

div.content {
  h1, h2, h3 {
    font-family: 'Changa One', Arial, Helvetica, sans-serif;
    font-weight: 400 !important;
    color: $primary;
  }
}

div.loading {
  position: fixed;
  background-color: #222222;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

nav.sidebar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,111111+100 */
  background: #333333;
  background: -moz-linear-gradient(-45deg, #333333 0%, #111111 100%);
  background: -webkit-linear-gradient(-45deg, #333333 0%, #111111 100%);
  background: linear-gradient(135deg, #333333 0%, #111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111', GradientType=1);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 300px;
  overflow-x: hidden;
  height: 101vh;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  &::-webkit-scrollbar-track {
    width: 8px;
    background-color: #222;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $primary;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: $primary;
  }

  a.nav-brand {
    transition: opacity 0.1s ease-in;
    &:hover {
      opacity: 0.8;
    }
  }

  img.nav-logo {
    max-width: 180px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $primary;
  }

  div.nav-social {
    a {
      &:hover {
        color: white;
      }
    }
  }

  div.nav-links {
    margin: 1em 0;
    width: 100%;

    a {
      display: block;
      color: #666;
      font-weight: 700;
      border-bottom: 2px solid transparent;

      &:active, &.active {
        color: white;
        border-bottom: 2px solid white;
      }
      &:hover {
        color: $primary;
        border-bottom: 2px solid $primary;
      }
    }
  }

  div.nav-form {
    width: 100%;
  }
}

section.main {
  margin-left: 300px;

  div.content {
    padding: 1em 2em;
  }

  &.noscroll {
    overflow: auto;
  }
}

div.notification {
  font-size: 1rem;
}

section.related {
  background-color: $light;

  div.columns {
    max-width: 1000px;
    margin: auto;
  }
  h3.title {
    color: $primary;
  }

  h4.related-title {
    color: #222;
    font-weight: 400;
  }

  div.card {
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 6px 10px rgba(10, 10, 10, 0.1);
    }

    div.card-image img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.content figure {
  margin: 0;
}

section.hero.is-primary.is-bold,
div.notification.is-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fa872a+0,ba0c04+100 */
  background: #fa872a;
  background: -moz-linear-gradient(-45deg, #fa872a 0%, #ba0c04 100%);
  background: -webkit-linear-gradient(-45deg, #fa872a 0%, #ba0c04 100%);
  background: linear-gradient(135deg, #fa872a 0%, #ba0c04 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa872a', endColorstr='#ba0c04', GradientType=1);
}

section.is-dark.is-bold {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,111111+100 */
  background: #333333;
  background: -moz-linear-gradient(-45deg, #333333 0%, #111111 100%);
  background: -webkit-linear-gradient(-45deg, #333333 0%, #111111 100%);
  background: linear-gradient(135deg, #333333 0%, #111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111', GradientType=1);

  .hero-body .title {
    color: $primary;
  }
}

.button {
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

div.blog-body {
  font-family: 'Source Serif Pro', serif;
}

button.menu-toggle {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  text-align: right;
  margin: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,111111+100 */
  background: #333333;
  background: -moz-linear-gradient(-45deg, #333333 0%, #111111 100%);
  background: -webkit-linear-gradient(-45deg, #333333 0%, #111111 100%);
  background: linear-gradient(135deg, #333333 0%, #111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111', GradientType=1);
  color: white;
  outline: 0;
  border: 0;
  padding: 12px;
  height: 48px;

  &:active, :focus {
    opacity: 0.9;
  }
}

section.menu-fader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 101vh;
  height: 101vh;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

div.scroll-shim {
  background-color: #222;
  width: 8px;
  height: 101vh;
  position: fixed;
  right: -8px;
}

section.blog-header-image {
  height: 250px;
  background-color: #222;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

@media (max-width: 768px) {
  section.main {
    padding-top: 48px;
  }

  nav.sidebar {
    left: -300px;
    transition: all 0.2s ease-in-out;

    &.active {
      left: 0;
    }

    img.nav-logo {
      max-width: 120px;
    }
  }

  section.main {
    margin-left: 0;
  }
}
